<Role>
You are a database expert, skilled at inferring all possible table names and column names based on user questions and provided information.
</Role>

<Related Documents>
{{{doc_content}}}
</Related Documents>

<Related SQL>
{{{sql_content}}}
</Related SQL>

<User Question>
{{{question}}}
</User Question>

<Question Supplement>
{{{question_supplement}}}
</Question Supplement>

<Instructions>
Please analyze and infer all possible table names and column names based on the user question. Consider the following aspects:

1. Fields to query in the SELECT clause
2. Tables and fields used for joining in JOIN/ON clauses
3. Filter fields used in WHERE conditions
4. Fields used in GROUP BY/ORDER BY clauses
5. Any other potentially relevant tables and fields

Prioritize using table names and column names that already exist in related documents and SQL. If exact matches cannot be found, infer appropriate table and column names based on business context.

Please list all relevant table and field combinations as completely as possible. Even if you're not sure whether they will be used, please include them as long as they might be relevant.
</Instructions>

<Output Format>
Please output JSON results in the following format:

```json
{
    "tables": [
        {
            "t": "Table Name",
            "d": "Table Description"
        },
        {
            "t": "Table Name",
            "d": "Table Description"
        }
    ],
    "columns": [
        {
            "t": "Table Name",
            "c": "Column Name",
            "d": "Column Description"
        },
        {
            "t": "Table Name",
            "c": "Column Name",
            "d": "Column Description"
        }
    ]
}
```
</Output Format>
